@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height-expanded: 120px;
        --header-height-minimized: 80px;
    }

    li {
        list-style-type: none;
    }
}

@layer components {
    /* ------------------------------------------------ Spacing */
    
    .container {
        @apply px-4 sm:px-8 lg:px-12 mx-auto w-full;
        max-width: 1280px;
    }

    .section {
        @apply my-12;
    }

    /* ------------------------------------------------ Fonts */

    .heading-sm {
        @apply text-2xl font-bold tracking-wide
    }

    .heading {
        @apply heading-sm text-4xl
    }

    .heading-lg {
        @apply heading-sm text-6xl
    }

    .body {
        @apply text-lg
    }

    .label {
        @apply font-semibold text-xl font-inter tracking-wide
    }


}
