@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height-expanded: 120px;
        --header-height-minimized: 80px;
    }

    li {
        list-style-type: none;
    }

    .theme-first {
        --color-primary: hsl
    }
}